.footer-wrapper{
    display: flex;
    gap: 30px;
    padding: 4rem 6rem;
    background: #000;
    color: #fff;
}
.footer-wrapper .bsa-mission{
    width: 30%;
    font-size: large;
}
.footer-wrapper .section-wrapper{
    display: flex;
    width: 55%;
    justify-content: space-between;
    padding: 0 0 0 6rem;
    

}
.footer-wrapper .section-wrapper .section p{
    font-size: large;
}