.projects-wrapper{
    padding-left: 6rem;
}
.projects-wrapper p{
    color: grey;
    font-size: large;
}

.img-container{
    padding-top: 3rem;
    display: flex;
    overflow-x:hidden;
}
.img-container img{
    width: 28rem;
}
.property-wrapper{
    padding: 16px;
    width: 370px;
    box-shadow: 0.2px 0.2px 2px 0px rgba(0,0,0,0.5);
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    bottom: 120px;
    left: 40px;
    
}

